body {
    background-color: black;
    color: darkgreen;
    font: normal 15pt Arial;
}

header {
    text-align: center;
}

main {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px #05d3215d;

    div {
        display: flex;
        gap: 10px;
    }
}

#btnGerarTab {
    background-color: darkgreen;
    color: white;
    border-radius: 10px;
    width: auto;
    height: 40px;
    font-size: 16px;
    box-shadow: 5px 5px 10px #0000005d;
}

footer {
    font-style: italic;
    text-align: center;
}